.welcomeContainer {
  margin-top: 15%;
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginButtonContainer {
  z-index: 100;
  padding: 10% 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
  left: 0;
}

.startContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.quizBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}